version: "3.9"

services:
  app:
    build:
      context: ./app
      dockerfile: Dockerfile
    container_name: app
    env_file:
      - ./app/.env
    ports:
      - "3000:3000"
    depends_on:
      - mongo

  worker:
    build:
      context: ./worker
      dockerfile: Dockerfile
    container_name: worker
    env_file:
      - ./worker/.env
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    container_name: deflow-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=deflow

volumes:
  mongo_data:
